doctype html
html
  head
    title app name here
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/js/controller.js')
    script(src='/js/bootstrap.js')
    link(href='https://fonts.googleapis.com/css?family=Karla', rel='stylesheet')
  body.index
    nav.navbar.navbar-default.navbar-static-top(style='background-color: #A31F34; border-bottom: 0;')
      section.container-fluid
        section.navbar-header
          a#homeTab.navbar-brand(href='#') app name!!
        section.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li#myConnectionsTab(style='background-color: #861A2B; width: 150px; text-align: center;')
              a(href='#', data-transition='slide') my connections
            li#exploreTab(style='background-color: #681422; width: 150px; text-align: center;')
              a(href='#') explore??
            li#searchTab(style='background-color: #4B0F18; width: 150px; text-align: center;')
              a(href='#') search
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown' style='background-color: #2D090F; width: 150px; text-align: center;') profile
              .dropdown-menu(style="text-align: center; width: 10px;")
                a(href='#' style="color: white;") settings
                p(style='white-space:pre; font-size: 2px;')
                  | &nbsp
                a(href='#' style="color: white;") logout

    table.table(style='border: 1px solid black;')
      tr(style='border: 1px solid black;')
        td(style='border: 1px solid black;')
        td(style='border: 1px solid black;')
        td(style='border: 1px solid black;')

    #login-panel.panel.panel-default
      .panel-heading
      .panel-body
        .col-1-3
          p(style="font-size: 50px; margin-top: 30px;")
            | W. O.
        .col-2-3
          .idk(style="background-color: #DDADB5; margin-left: 15px; padding: 10px;")
            h4#login-heading Name LastName
            p(style='white-space:pre;')
              | cousre whatever
              | professional cloud sketch artist
              | pertinent info also i need to fix the heights of these things
            #enter-button
              input#loginBtn.submitButtons(type='submit', value='Send Message')

