doctype html
html
  head
    title connectMIT
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/js/bootstrap.js')
    link(href='https://fonts.googleapis.com/css?family=Karla', rel='stylesheet')
  body.index
    form(method = 'get', action='/')
      input.submitButtons#return-login(type="submit", value ="Return to Login")

    .panel.panel-default#password-panel
      .panel-heading
        h4(style="text-align: center;")
          | You're almost done!
        
      .panel-body(style='padding: 15px; text-align: center')
        | Click on the confirmation link sent to your email to change your password.

      script(src='https://code.jquery.com/jquery-3.1.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/controller.js')