doctype html
html
  head
    title app name here
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/js/bootstrap.js')
    link(href='https://fonts.googleapis.com/css?family=Karla', rel='stylesheet')
  body.index
    form(method='post', action='../users/register')
      input#userLogin.centered-input(name='email', type='email', placeholder='MIT Email', required='')
      input#passLogin.centered-input(name='password', type='password', placeholder='Password', required='')
      #enter-button
        input#loginBtn.submitButtons(type='submit', value='Enter')
    form
      input.button-link(type='submit', value='Forgot password?')
