doctype html
html
  head
    title app name here
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/resources/demos/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='/js/controller.js')
    script(src='/js/bootstrap.js')
    link(href='https://fonts.googleapis.com/css?family=Karla', rel='stylesheet')
  body.index.search
    nav.navbar.navbar-default.navbar-static-top(style='background-color: #A31F34; border-bottom: 0;')
      section.container-fluid
        section.navbar-header
          a#homeTab.navbar-brand(href='#') app name!!
        section.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li#userEmail(style="color: white; font-size: 15px; margin-right: 15px; margin-top: 15px") 
              | welcome #{email}
            li#myConnectionsTab(style='background-color: #861A2B; width: 150px; text-align: center;')
              a(href='#', data-transition='slide') connections
            li#exploreTab(style='background-color: #681422; width: 150px; text-align: center;')
              a(href='#') explore
            li#searchTab(style='background-color: #4B0F18; width: 150px; text-align: center;')
              a(href='#') search
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown' style='background-color: #2D090F; width: 150px; text-align: center;') profile
              .dropdown-menu(style="text-align: center; width: 10px;")
                a#settingsTab(href='#' style="color: white;") settings
                p(style='white-space:pre; font-size: 2px;')
                  | &nbsp
                a#logoutBtn(href='#' style="color: white;") logout

    h1(style="text-align: center; padding-bottom: 10px;") s e a r c h &nbsp o r &nbsp w h a t e v e r

    .panel.panel-default.settings(style="margin-bottom: 50px;")
      .panel-heading
      .panel-body
        input#search-bar.centered-input.inline(placeholder='search it up man')
        input#search-button.inline(type='submit', value="search")
        h4 filter by

        table.table
          tr
            td
              .ui-widget
                label(for='tags1') Class Year &nbsp 
                input#tags1(size='50' style="width: 100%;")
            td
              .ui-widget
                label(for='tags2') Course &nbsp 
                input#tags2(size='50' style="width: 100%;")
            td
              .ui-widget
                label(for='tags3') Activity &nbsp 
                input#tags3(size='50' style="width: 100%;")

