doctype html
html
  head
    title app name here
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/js/controller.js')
    script(src='/js/bootstrap.js')
    link(href='https://fonts.googleapis.com/css?family=Karla', rel='stylesheet')
  body.index
    nav.navbar.navbar-default.navbar-static-top(style='background-color: #A31F34; border-bottom: 0;')
      section.container-fluid
        section.navbar-header
          a#homeTab.navbar-brand(href='#') app name!!
        section.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li#userEmail(style="color: white; font-size: 15px; margin-right: 8px; margin-top: 15px") 
              | welcome #{email}
            li#myConnectionsTab(style='background-color: #861A2B; width: 150px; text-align: center;')
              a(href='#', data-transition='slide') connections
            li#exploreTab(style='background-color: #681422; width: 150px; text-align: center;')
              a(href='#') explore
            li#searchTab(style='background-color: #4B0F18; width: 150px; text-align: center;')
              a(href='#') search
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown' style='background-color: #2D090F; width: 150px; text-align: center;') profile
              .dropdown-menu(style="text-align: center; width: 10px;")
                a#settingsTab(href='#' style="color: white;") settings
                p(style='white-space:pre; font-size: 2px;')
                  | &nbsp
                a#logoutBtn(href='#' style="color: white;") logout

    p(style='white-space:pre;')
      | time to search it up!!! what do we need here
      | 1. a search bar
      | 1b. autocomplete?????
      | 2. some filters!!
      | 3. wait uh i guess a new page for all the results
      | darn 
      | 4. on the new page: the results!!
      | 5. plus a sidebar with filters maybe so you can adjust and search again
      | 5b. should we just force them to go back???? maybe
      | 5c. but the ease of use bro!! give the people what they want
      | 5d. but the ease of creation dude!!! i'm not trying to make all that
      | a true dilemma 
      | end list

    input#search-bar.centered-input.inline(placeholder='search it up man')
    input#search-button.inline(type='submit', value="search")
